.weatherInfo_addInfo{
    display: flex;
    width: 100%;
  justify-content: space-between;
  padding: 1.5rem 2.25rem;
  }

  .weatherInfo_addInfo-card:not(:last-child){
    margin-right: 6px;
  }
  
  .weatherInfo_addInfo-card{
    text-align: center;
  }
  .weatherInfo_addInfo-card img{
   margin-bottom: 0.5rem;
  }