:root{
  --primaryBlack: #1F2020;
  --primaryWhite:#F8FCFD;
  --sunnyShadowContainer:#B2EBF2;
  --sunnyMainInfoContainer:#F9F9BF;
  --thunderMainInfoContainer:#94A1C0;
  --thunderShadowContainer:#C6B4D2;
  --rainyMainInfoContainer:#ADD1EB;
  --rainyShadowContainer:#D1E9EC;
  --cloudyMainInfoContainer:#B9C6D3;
  --cloudyShadowContainer:#D3D3D3;
  --snowyMainInfoContainer:#D8EEFB;
  --snowyShadowContainer:#B2EBF2;
  --foggyMainInfoContainer:#A8D1E9;
  --foggyShadowContainer:#D1E9EC;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  all: unset;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  all: unset;
}
input {
  background: none;
}
input:focus {
  outline: none;
}
button {
  all: unset;
  cursor: pointer;
}


.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  color: var(--primaryBlack);
  background: url(./img/imgSunny/sunBgFade.svg) 20% 90% no-repeat;
  background-size: cover;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.cloud1Gen{
  position: absolute;
 z-index: 10;
}

h1{
  font-size: 1.5rem;
}

h2{
  font-size: 3rem;
}

.appContainer{
  padding: 24px 16px 16px 16px;
  min-height: 37.8rem;
  width: 25rem;
  box-shadow: 0px 0px 4px var(--sunnyShadowContainer);
 border-radius: 16px;
 background: url(./img/imgSunny/sunBg.svg) no-repeat;
 background-size: cover;
 max-width: 90%; 
 position: relative;
 z-index: 100;
}


.searchСity{
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryWhite);
  border-radius: 50px;
  padding: 1rem 1.25rem;
  position: relative;
}

.search_input{
  width: 100%;
}

.suggestions_list{
  position: absolute;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ddd;
  border-radius:15px;
  margin-top: 12%;
  z-index: 1000;
  }
  .suggestion_item {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .suggestion_item:hover {
    background-color: #f0f0f0;
  }

/*weatherInfo***********************************************************************/


.weatherInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  padding-top: 5.5rem;
  position: relative;
}
.weatherInfo::before{
  content: '';
  background: url("./img/imgSunny/sun.svg") no-repeat;
  right: 0%;
  width: 100%;
  height: 100%;
  top: 5%;
  position: absolute;

}


.weatherInfo_main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 55%;
  padding: 1.5rem 1.5rem;
  border-radius: 16px;
  background: var(--sunnyMainInfoContainer);
  box-shadow: 0px 0px 4px var( --sunnyMainInfoContainer);
  position: relative;
  z-index: 100;
}

.weatherInfo_main::after{
content: '';
background: url("./img/imgSunny/sunBird.svg") no-repeat;
right: -85%;
width: 100%;
height: 100%;
top: 65%;
position: absolute;
}
/********************************************/
.weatherInfo_addInfo{
  display: flex;
  width: 100%;
justify-content: space-between;
padding: 1.5rem 2.25rem;
}

.weatherInfo_addInfo-card{
  text-align: center;
}
.weatherInfo_addInfo-card img{
 margin-bottom: 0.5rem;
}
/*weather classes rainy*******************************************/

.rainy.App{
  background: url('./img/imgRain/rainyBgFade.svg') 20% 90% no-repeat;
  background-size: cover;
}

.rainy.appContainer{
  box-shadow: 0px 0px 4px var(--rainyShadowContainer);
 background: url('./img/imgRain/rainyBg.svg') no-repeat;
}

.rainy.weatherInfo::before{
  background: url("./img/imgRain/raineCloud.svg") no-repeat;
}


.rainy.weatherInfo_main{
  background: var(--rainyMainInfoContainer);
  box-shadow: 0px 0px 4px var( --rainyMainInfoContainer);
}

.rainy.weatherInfo_main::after{
background: url("./img/imgRain/rainyBird.svg") no-repeat;

}

/*weather classes cloudy*******************************************/

.cloudy.App{
  background: url('./img/imgCloudy/cloudyBgFade.svg') 20% 90% no-repeat;
  background-size: cover;
}

.cloudy.appContainer{
  box-shadow: 0px 0px 4px var(--cloudyShadowContainer);
 background: url('./img/imgCloudy/cloudyBg.svg') no-repeat ;
}

.cloudy.weatherInfo::before{
  background: url("./img/imgCloudy/cloudyCloud.svg") no-repeat;
}

.cloudy.weatherInfo_main{
  background: var(--cloudyMainInfoContainer);
  box-shadow: 0px 0px 4px var( --cloudyMainInfoContainer);
}

.cloudy.weatherInfo_main::after{
background: url("./img/imgCloudy/cloudyBird.svg") no-repeat;
}


/*weather classes snowy*******************************************/
.snowy.App{
  background: url('./img/imgSnowy/snowyBgFade.svg') 20% 90% no-repeat;
  background-size: cover;
}

.snowy.appContainer{
  box-shadow: 0px 0px 4px var(--snowyShadowContainer);
 background: url('./img/imgSnowy/snowyBg.svg') no-repeat;
}

.snowy.weatherInfo::before{
  background: url("./img/imgSnowy/snowyCloud.svg") no-repeat;
}


.snowy.weatherInfo_main{
  background: var(--snowyMainInfoContainer);
  box-shadow: 0px 0px 4px var( --snowyMainInfoContainer);
}

.snowy.weatherInfo_main::after{
background: url("./img/imgSnowy/snowyBird.svg") no-repeat;
}


/*weather classes thunder*******************************************/
.thunder.App{
  background: url('./img/imgThunder/thunderBgFade.svg') 20% 90% no-repeat;
  background-size: cover;
}

.thunder.appContainer{
  box-shadow: 0px 0px 4px var(--thunderShadowContainer);
 background: url('./img/imgSnowy/snowyBg.svg') no-repeat;
}

.thunder.weatherInfo::before{
  background: url("./img/imgThunder/thunderCloud.svg") no-repeat;
}


.thunder.weatherInfo_main{
  background: var(--thunderMainInfoContainer);
  box-shadow: 0px 0px 4px var( --thunderMainInfoContainer);
}

.thunder.weatherInfo_main::after{
background: url("./img/imgThunder/thunderBird.svg") no-repeat;
}

/*weather classes foggy*******************************************/
.foggy.App{
  background: url('./img/imgFoggy/foggyBgFade.svg') 20% 90% no-repeat;
  background-size: cover;
}
.foggy.appContainer{
  box-shadow: 0px 0px 4px var(--foggyShadowContainer);
 background: url('./img/imgFoggy/foggyBg.svg') no-repeat;
}

.foggy.weatherInfo::before{
  background: url("./img/imgFoggy/foggyCloud.svg") no-repeat;
}


.foggy.weatherInfo_main{
  background: var(--foggyMainInfoContainer);
  box-shadow: 0px 0px 4px var( --foggyMainInfoContainer);
}

.foggy .weatherInfo_main::after{
background: url("./img/imgFoggy/foggyBird.svg") no-repeat;
}

